<h2>Teste Winnin</h2>

<h3>Instruções</h3>
<h4>O App consulta a API do reddit todo dia as 7 horas da manhã</h4>
<p><strong>/find:</strong> Busca pelas datas de inicio e fim e ordena por comentarios ou ups </p>
<p>Exemplo: <i>/find?start=01-10-2017&end=05-11-2018&order=ups</i></p>

<p><strong>/findusers:</strong> Busca pelos autores e agrupa comentarios e ups e ordena </p>
<p>Exemplo: <i>/findusers?order=comments</i></p>